* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  cursor: pointer;
}
iframe {
  width: 100%;
  height: 100vh;
  cursor: pointer;
}
.rc-application {
  height: 100vh;
}
